.imgDiv {

  margin-bottom: 30px;
  
}

.hoverShadow {
  
  box-shadow: 10px 11px 23px -1px rgba(0,0,0,0.73);
  
}

.btn-secondary {

  background-color:#7ABDFF;
  color:#FFFFFF;

}

.navContainer {
  margin:auto;
}

.txt1  {

  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
}


.searchHeader {
  margin: 50px;
  
}

.form-check-input {
  margin-left: 40px;
}




