.imgDiv {

  margin-bottom: 30px;
  
}

.hoverShadow {
  
  box-shadow: 10px 11px 23px -1px rgba(0,0,0,0.73);
  
}

.btn-secondary {

  background-color:#7ABDFF;
  color:#FFFFFF;

}
/* Nav bar */
.navContainer {
  margin:auto;
}
/* Search box */
.txt1  {

  margin: 10px;
  margin-bottom: 30px;
  
}
/* Header above Search box */
.searchHeader {
  margin: 10px;
  
}





